:root{
    /*=================
        colors
      =================*/

    /*=================
        primary colors
      =================*/
    
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-bright-yellow: hsl(71, 73%, 54%);

    /*=================
        nerutral colors
      =================*/

    --neutral-ligth-gray: hsl(204, 43%, 93%);
    --neutral-grayish-blue: hsl(218, 22%, 67%);

    /*=================
        typography
      =================*/    
      
    /*=================
        body copy
      =================*/

    --font-size: 1rem;

    /*=================
        font
      =================*/
      
    --font-family: "Karla", sans-sarif;
    --weigth-400: 400;
    --weigth-700: 700;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--neutral-grayish-blue);
    color: white;
    font-family: var(--font-family);
    font-size: var(--font-size);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card{
    max-width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.bottom-section{
    display: flex;
    flex-direction: column;
}

.community-section,
.monthly-section,
.library-section{
    padding: 2rem;
}

.monthly-main-heading,
.library-main-heading{
    font-size: large;
}

/*===================
community-section
===================*/
.community-section{
    background-color: white;
}

.community-main-heading{
    color: var(--primary-cyan);
}

.community-sub-heading{
    color: var(--primary-bright-yellow);
    font-weight: var(--weigth-700);
    margin: 1rem 0;
    letter-spacing: 0.2ch;
}

.community-pargraph{
    color: var(--neutral-grayish-blue);
    line-height: 1.8rem;
}

/*===================
monthly-section
===================*/
.monthly-section{
    background-color: var(--primary-cyan); 
}

.monthly-list{
    list-style-type: none;
    margin-top: 1rem;
}

.monthly-list li{
    display: inline-block;
}

.amount-item{
    color: var(--neutral-ligth-gray);
    font-size: x-large;
    margin-right: 0.5rem;
}

.monthly-item{
    transform: translateY(-4px);
}

.monthly-paragraph{
    margin: 0.5rem 0 1.8rem 0;
}

.btn-sign-up{
    background-color: var(--primary-bright-yellow);
    color: white;
    letter-spacing: 1px;
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    filter: drop-shadow(0 1.5rem 0.5rem rgba(0, 0, 0, 0.1));
}

.btn-sign-up:focus,
.btn-sign-up:hover{
    cursor: pointer;
    background-color: hsla(71, 73%, 54%, 0.75);
    transition: 1s;
}

/*===================
library-section
===================*/
.library-section{
    background-color: hsla(179, 62%, 43%, 0.6);
}

.library-list{
    color: var(--neutral-ligth-gray);
    margin-top: 1rem;
    list-style-type: none;
    line-height: 1.2rem;
}


@media  screen and (min-width: 480px) {
    .community-section{
        max-width: 620px;
    }

    .bottom-section{
        display: flex;
        flex-direction: row;
    }

    .monthly-section,
    .library-section{
        width: 50%;
    }   
}
